<div class="apply_form">
<%= image_tag "apply_header.png", :class => "img_header" %>


<%= simple_form_for @application, :html => {:class => 'form-horizontal' } do |f| %>
  <div class="field">
    <label>Position Applied For : </label>
    <%= f.input :positionappliedfor, :required => false, :label => false %></br>
  </div>
  <div class="field">
    <label>Full Name : </label>
    <%= f.input :name, :required => false, :label => false %></br>
  </div>
  <div class="field">
    <label>Contact Telephone Number : </label>
    <%= f.input :telephone, :required => false, :label => false %></br>
  </div>
  <div class="field">
    <label>Email Address : </label>
    <%= f.input :email, :required => false, :label => false %></br></br>
  </div>
  <div class="field_area">
    <label>Address : </label>
    <%= f.input :address, :required => false, :label => false, :as => :text, :class => "fieldarea" %></br>
  </div>
  <div class="field">
    <label>Postal Code : </label>
    <%= f.input :postcode, :required => false, :label => false %></br>
  </div>
  <%= image_tag "edu_header.png", :class => "img_header" %>
  <div class="field">
    <label>Secondary School Names : </label>
    <%= f.input :secondaryschool, :required => false, :label => false %></br>
  </div>
  <div class="field">
    <label>Dates Started and Finished : </label>
    <%= f.input :datestartandfinished, :required => false, :label => false %></br></br>
  </div>
  <div class="field_area">
    <label>Examinations and Results : </label>
    <%= f.input :examinationsandresults, :required => false, :label => false, :as => :text, :class => "fieldarea" %></br>
  </div>
  <div class="field">
    <label>Further Education and Training : </label>
    <%= f.input :furtheredandtraining, :required => false, :label => false %></br>
  </div>
  <div class="field">
    <label>Dates Started and Finished : </label>
    <%= f.input :datestartandfinishedtwo, :required => false, :label => false %></br></br>
  </div>
  <div class="field_area">
    <label>Courses and Qualifications : </label>
    <%= f.input :coursesandqualifications, :required => false, :label => false, :as => :text, :class => "fieldarea" %></br>
  </div>
  <%= image_tag "emp_header.png", :class => "img_header" %>
  <div class="field">
    <label>Employer Name : </label>
    <%= f.input :employername, :required => false, :label => false %></br></br>
  </div>
  <div class="field_area">
    <label>Employer Address : </label>
    <%= f.input :employeraddress, :required => false, :label => false, :as => :text, :class => "fieldarea" %></br>
  </div>
  <div class="field">
    <label>From and To : </label>
    <%= f.input :fromandto, :required => false, :label => false %></br>
  </div>
  <div class="field">
    <label>Description of Role : </label>
    <%= f.input :descriptionofrole, :required => false, :label => false %></br>
  </div>
  <div class="field">
    <label>Reason For Leaving : </label>
    <%= f.input :reasonforleaving, :required => false, :label => false %></br>
  </div>
  <hr>
    <div class="field">
    <label>Employer Name : </label>
    <%= f.input :employernametwo, :required => false, :label => false %></br></br>
  </div>
  <div class="field_area">
    <label>Employer Address : </label>
    <%= f.input :employeraddresstwo, :required => false, :label => false, :as => :text, :class => "fieldarea" %></br>
  </div>
  <div class="field">
    <label>From and To : </label>
    <%= f.input :fromandtotwo, :required => false, :label => false %></br>
  </div>
  <div class="field">
    <label>Description of Role : </label>
    <%= f.input :descriptionofroletwo, :required => false, :label => false %></br>
  </div>
  <div class="field">
    <label>Reason For Leaving : </label>
    <%= f.input :reasonforleavingtwo, :required => false, :label => false %></br>
  </div>
  <hr>
  <div class="field">
    <label>Employer Name : </label>
    <%= f.input :employernamethree, :required => false, :label => false %></br></br>
  </div>
  <div class="field_area">
    <label>Employer Address : </label>
    <%= f.input :employeraddressthree, :required => false, :label => false, :as => :text, :class => "fieldarea" %></br>
  </div>
  <div class="field">
    <label>From and To : </label>
    <%= f.input :fromandtothree, :required => false, :label => false %></br>
  </div>
  <div class="field">
    <label>Description of Role : </label>
    <%= f.input :descriptionofrolethree, :required => false, :label => false %></br>
  </div>
  <div class="field">
    <label>Reason For Leaving : </label>
    <%= f.input :reasonforleavingthree, :required => false, :label => false %></br>
  </div>
  <%= image_tag "referral_header.png", :class => "img_header" %>
  <div class="field">
    <label>Referee Name : </label>
    <%= f.input :referee1, :required => false, :label => false %></br></br>
  </div>
  <div class="field">
    <label>Referee Contact : </label>
    <%= f.input :refereecontact1, :required => false, :label => false %></br></br>
  </div>
  <hr>
  <div class="field">
    <label>Referee Name #2 : </label>
    <%= f.input :referee2, :required => false, :label => false %></br></br>
  </div>
  <div class="field">
    <label>Referee Contact #2 : </label>
    <%= f.input :refereecontact2, :required => false, :label => false %></br></br>
  </div>

  <%= f.button :submit, 'Apply now', :class=> "btn btn-primary marg_bottom submit" %>
<% end %>
</div>