<!--<div class="mcgoveran_header">
  <%= image_tag "mcgoverans.png" %>
</div>-->

<div class="fb_con">
  <center>
  <%= image_tag "checkusout.png", :class => "cuo" %>
  </center>
  <center>
    <a href="https://www.facebook.com/centra.stranmillismalone" target=_blank>
    <%= image_tag "fb_logo.png" %>
    </a>
  </center>
</div>

<div class="about">
  <div class="arrow">
    
  </div>
  <div class="text_sec">
    <%= image_tag "recruit_img.png" %>
  </div>

  <div class="img_sec">
    <%= image_tag "centra1.jpg", :class => "multi" %><%= image_tag "centra2.jpg", :class => "multi" %><%= image_tag "centra3.png", :class => "multi multi_fin" %>
  </div>
</div>